.nav-link,
.navbar-brand {
  cursor: pointer;
}

.navbar{
  background-color: #4169e1;
  margin: 0;
  padding-bottom: 1%;
  font-size: large;
  color: black;
  height: 100%;
  flex-flow: column;
  flex: 0 1 auto;
  
}
.nav-link {
  margin-right:1em !important;
  color: floralwhite;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

#footer-cr {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: hotpink;
    font-family: 'Bangers', cursive;
  }